@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vermin Vibes";
  src: url(/Fonts/Vermin/vermin_vibes.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url("https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png");
  background-color: #16171b;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
}

.overflow-hidden-web {
  overflow: hidden;
  -webkit-overflow: hidden;
}

.message::after {
  content: " ";
  width: 10px;
  height: 10px;
  background: #8d7343;
  position: absolute;
  bottom: -10px;
  right: 0;
  border-radius: 0 0 0 100%;
}

#repulse-div {
  -webkit-appearance: none;
  appearance: none;
  -webkit-filter: drop-shadow(0 0 5rem #8d7343);
  filter: drop-shadow(0 0 5rem #8d7343);
}

#repulse-div > h1 {
  -webkit-filter: drop-shadow(0 0 5rem #8d7343);
  filter: drop-shadow(0 0 5rem #8d7343);
}

#journey-scroll::-webkit-scrollbar {
  display: none;
}

#journey-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.arrowpath,
polyline {
  fill: none;
  stroke: #515152;
  vector-effect: non-scaling-stroke;
  stroke-width: 2;
}

.arrowpath {
  stroke-dasharray: 11, 5;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blob {
  animation: morph 3.6s linear infinite;
  background: #8d7343;
  border-collapse: separate;
  background-size: cover;
  background-position: center;
  outline: 1px solid transparent;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -webkit-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -moz-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    -webkit-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    -moz-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    -webkit-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    -moz-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.bounce {
  transition: all 0.3s ease-out;
}

.bounce:hover {
  display: inline-block;
  animation: rubberband 0.8s ease-out;
  color: #8d7343;
}

@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }
  55% {
    transform: scaleX(0.85) scaleY(1);
  }
  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }
  75% {
    transform: scaleX(0.9) scaleY(1);
  }
  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@media only screen and (min-width: 600px) {
  .drop-shadow-div {
    -webkit-appearance: none;
    appearance: none;
    -webkit-filter: drop-shadow(0 0 1.5rem #8d7343);
    filter: drop-shadow(0 0 1.5rem #8d7343);
  }
}

.loader {
  width: 100px;
  height: 100px;
  border: 5px solid #ecfdf4;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #8d7343 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.video-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper2 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title2 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title2:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler2 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper3 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title3 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title3:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler3 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper4 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title4 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title4:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler4 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper5 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title5 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title5:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler5 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper6 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title6 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title6:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler6 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper7 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title7 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title7:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler7 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper8 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title8 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title8:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler8 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper9 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title9 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title9:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler9 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper10 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title10 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title10:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler10 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper11 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title11 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title11:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler11 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper12 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title12 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title12:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler12 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper13 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title13 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title13:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler13 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper14 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title14 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title14:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler14 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.video-wrapper15 {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.title15 {
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.title15:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.react-player-reguler15 {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ccc;
  overflow: hidden;
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 7rem;
  color: #ffffff;
  margin: 3rem;
  font-family: "Morganite Black";
}

.heading:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.heading2 {
  text-align: center;
  font-size: 5rem;
  color: #ffffff;
  margin: 3rem;
  margin-top: 3rem;
}

.heading2:hover {
  color: #0fba74;
  animation: rubberband 0.8s ease-out;
  stroke: #ccc;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px; 
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
  height: auto;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
  height: auto;
}

.swiper-slide:nth-child(3n) {
  width: 60%;
}
